<!--on click atraves de uma expressão lambda, remover tarefa novo possui um metodo chamado invoke async-->
<td><button class="btn-danger rounded" @onclick="@(() => RemoverTarefa.InvokeAsync(item))"><i class="oi oi-trash"></i></button></td>
<td>@item.DataCriacao</td>
<td>@item.Descricao</td>
<td><input type="checkbox" @bind="item.Concluida" />@item.Concluida</td>

@code{
    [Parameter] public Tarefa item { get; set; }
    // passagem de um evento como parametro
    [Parameter] public EventCallback<Tarefa> RemoverTarefa { get; set; }
    // fantasma do metodo onclick antigo <td><button class="btn-danger rounded" @onclick="@(()=> RemoveTarefa(item.ID))"><i class="oi oi-trash"></i></button></td>
}
